.header{
    width: 100%;
    height: 900px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
}
h1{
    font-size: 100px;
    color: rgb(255, 0, 0);
    padding-left: 30px;
}
.button{
    width: auto;
    min-width: fit-content;
    min-height: 24.00px;
    color: rgb(174, 11, 11);
    font-family: Arial;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    position: relative;
    text-align: left;
    line-height: 24px;
    font-size: 18px;
    font-size: 35px;
}
.image1{
    background-image: url(ac-milan-logo-with-star-rpq3nxm7hkw4nwuq.jpg);
}
.menu{
    position: absolute;
    width: 80%;
    display: flex;
    margin-top: 30px;
    top: 200px;
    left: 100px;
    justify-content: space-between;
    z-index: 10;
}
hr{
    border: none;
    height: 10px;
    background-color: rgb(255, 255, 255);
}
.image2{
    background-image: url(Logo_of_AC_Milan.svg.png);
}
.texter{
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-size: 45px;
    color: rgb(8, 141, 108);
}
.about{
    background-color: black;
}
.trophies{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.textin{
    font-size: 20px;
    color: rgb(255, 0, 0);
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image3{
    background-image: url(Finale_Europa_Cup_II_AC_Milan_tegen_HSV_Hamburg_2-0._Spelers_van_Milan_maken_ro…\,_Bestanddeelnr_921-3777.jpg);
    height: 900px;
}
.image4{
    background-image: url(maldini.jpg);
}
.players{
    background-color: black;
}
.contacts{
    background-image: url(ac-milan-logo-with-star-rpq3nxm7hkw4nwuq.jpg);
}
.name{
    color: rgb(255, 0, 0);
    padding-top: 40px;
    padding-left: 100px;
}
.you{
    padding-left: 35%;
    padding-bottom: 30px;
    
}
.location{
    border-radius: 10%;
}
p{
    padding-left: 30px;
    padding-right: 30px;
}
.war{
    padding-left: 70px;
}
.pla{
    width: 100%;
    height: 900px;
}
.tabs{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}